**checkpoints*
**cache*
**ubyte*
max-activation*
**wooseok*
**/cosmo
**/data
**/results
**/old
**/experiments
**slurm*
**.pkl
**.DS_Store
**.pt
**.pdf
experiments/fake_news/very_large_data
**.h5
**.npy
**.csv
**.txt
**.zip
**Icon*
.idea
**logs*
